<div id="section-supplier-add" class="section">
    <div class="card-erp p-4">
        <h5 class="fw-bold mb-4">Add Supplier</h5>
        <form id="supplierForm" class="row">
            <div class="col-md-6 border-end">
                <div class="mb-3">
                    <label class="form-label fw-bold">Supplier Name</label>
                    <input type="text" class="form-control" name="supplier_name" required placeholder="Firma tam adını giriniz">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">NCAGE Code</label>
                    <input type="text" class="form-control" name="ncage_code" placeholder="Varsa NCAGE kodunu giriniz">
                </div>
            </div>
            
            <div class="col-md-6 ps-4">
                <div class="mb-3">
                    <label class="form-label fw-bold">Country</label>
                    <input type="text" class="form-control" name="country" placeholder="Ülke bilgisini giriniz">
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Website</label>
                    <input type="url" class="form-control" name="website" placeholder="https://www.orneksite.com">
                </div>
            </div>
            
            <div class="col-12 text-end mt-4 border-top pt-3">
                <button type="submit" class="btn btn-success px-5">Save Supplier</button>
            </div>
        </form>
    </div>
</div>
