<div id="section-list" class="section">
    <div class="card-erp p-3">
        <h6 class="fw-bold mb-3">Project List</h6>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-erp">
                <thead class="table-dark" id="th-p">
                    </thead>
                <tbody id="projectTableBody">
                    <tr>
                        <td colspan="11" class="text-center py-3 text-muted">Projeler yükleniyor...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
