<div id="section-supplier-list" class="section">
    <div class="card-erp p-3">
        <h6 class="fw-bold mb-3">Supplier List</h6>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-erp">
                <thead class="table-dark">
                    <tr>
                        <th>NCAGE</th>
                        <th>Supplier Name</th>
                        <th>Country</th>
                        <th>Web</th>
                    </tr>
                </thead>
                <tbody id="supplierTableBody">
                    </tbody>
            </table>
        </div>
    </div>
</div>
